<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfIRadiusClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <WpfIRadiusClient.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>http://api.iradius.es</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>Input Valid Token</value>
            </setting>
            <setting name="CustomerId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotspotId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TypeId" serializeAs="String">
                <value>0</value>
            </setting>
        </WpfIRadiusClient.Properties.Settings>
    </userSettings>
</configuration>